
  



    .indexbody{width:100vw;height:auto;position:relative;margin:auto auto;text-align:center;}
    .indexbody img{text-align:center;margin:auto auto;position:relative;}
.container{width:100vw;height:100vh;margin:auto auto;position:relative;}
.header{width:100vw;height:10vh;display:flex;background-color:rgb(255, 255, 255);}

    .navigation{width:90vw;height:10vh;justify-content:space-around;display:flex;margin:auto auto;z-index:1;}
        .nav-item{width:10vw;height:10vh;font:2vh Berlin Sans FB;color:#680068;justify-content:space-around;text-align:center;}
        .nav-item a{vertical-align:middle;height:12vh;background-color:inherit;font:2vh;color:#680068;border:0px;vertical-align:text-bottom;justify-content:space-around;display:flex;align-items:center;text-decoration:none;}
      
.header2{width:100vw;height:10vh;display:flex;;background-color:white;}
    .navigation2{width:90vw;height:10vh;justify-content:space-around;display:flex;margin:auto auto;}
        .nav-item2{width:10vw;height:10vh;font:2vh Berlin Sans FB;color:#680068;justify-content:space-around;text-align:center;}
        .nav-item2 a{vertical-align:middle;height:12vh;background-color:inherit;font:2vh;color:#680068;border:0px;vertical-align:text-bottom;justify-content:space-around;display:flex;align-items:center;text-decoration:none;}

.body{width:100vw;height:auto;position:relative;margin:auto auto;text-align:center;}
    .bodycontent{width:100vw;height:fit-content;padding-bottom:5vh;background-color:#DAB9F5;}
    .bodycontent2{width:100vw;height:fit-content;padding-bottom:5vh;background-color:white;}
    #textContent{font:17pt Malgun Gothic;width:70%;margin:auto auto;line-height:200%;color:#680068;}
    #textHeading{font:45pt Elegante;color:#BF8F00;width:70%;margin:auto auto;}
    .left{text-align:left;}
    .center{text-align:center;}
    .mobile{display:none;}
    .desktop{display:block;}
    @media only screen and (max-width:768px) {
        /* For mobile phones: */
        
        [class*="col-"] {
            width: 100%;
        }
    .mobile{display:block;}
    .desktop{display:none;}
    }
    img{width:90%;}
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}


